# Node modules
node_modules/

# Environment variables
.env

# Build directories
/frontend/build/
/backend/build/
firebase
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
serviceAccountKey.json

# Operating system files
.DS_Store

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace
